*{
  margin:0;

}
body {
  margin: 0;
}
  .logo {
    text-decoration: none;
    color: #000000d4;
    font-size: 17px;
    font-family: sans-serif;
    width: 56%;
    display: inline-block;
}
.logo a {
    text-decoration: none;
    color: black;
    padding: 16px;
}
  .logo a:hover {
    background: #8080807d;
}
.single {
    display: inline-block;
    width: 110px;
    font-size: 16px;
}
.nav {
    display: inline-block;
    width: 52%;
}
.single a {
    text-decoration: none;
    color: black;
    font-family: sans-serif;
    padding: 16px;
}
.single:hover{
    background-color:#8080807d; ;
}

.banner {
    background-image: url("./images/mac.jpg");
}
.banner-button {
    width: 24%;
    margin: 56px 0px 0px 0px;
}
.banner-head {
    color: white;
}
.header-area {
    padding-bottom: 14px;
}
.banner-button a {
    text-decoration: none;
    color: #000000d1;
    font-size: 18px;
    font-family: sans-serif;
}
.banner-button span {
    padding: 20px 21px;
    background: #ffffffd9;
    font-family: sans-serif;
}
.banner-head p {
    font-size: 22px;
    font-family: sans-serif;
    margin-top: 46px;
}
.banner-head h1 {
    font-size: 76px;
    font-family: sans-serif;
    font-weight: 100;
}

.banner-section {
    padding: 127px 42px;
    width: 80%;
}
.sec-head {
    text-align: center;
}
.section {
    margin-top: 10%;
}
.sec-head h2 {
    font-weight: 100;
    font-family: sans-serif;
}
.sec-head p {
    margin-top: 20px;
    font-size: 18px;
    font-family: sans-serif;
    color: #000000f2;
}
i.fa.fa-desktop {
    font-size: 55px;
    width: 100%;
    text-align: center;
    display: inline-block;
}
.icons-img {
    width: 24%;
    display: inline-block;
}
.icons-2 {
    width: 100%;
    text-align: center;
    margin-top: 5%;
}
i.fa.fa-diamond {
    font-size: 60px;
}
i.fa.fa-heart {
    font-size: 60px;
}
i.fa.fa-cog {
    font-size: 57px;
}
.parts {
    width: 23%;
    display: inline-block;
    margin-right: 15px;
}
.icon-part {
    font-size: 20px;
    margin-top: 35px;
    font-family: sans-serif;
    color: #000000de;
}
.icon-part-para p {
    margin-top: 23px;
    font-family: sans-serif;
    line-height: 30px;
    color: #000000de;
}
.fst-block {
    width: 49%;
    display: inline-block;
    vertical-align: top;
}
.block-head h3 {
    font-size: 30px;
    font-weight: 100;
    font-family: sans-serif;
}
.block-head p {
    font-size: 15px;
    font-family: sans-serif;
    margin-top: 15px;
    line-height: 26px;
}
.block {
    background: #f1f1f1;
    padding: 123px 27px;
}
.button-sec {
    background: black;
    width: 23%;
    padding: 14px 15px;
    margin-top: 27px;
    text-align: center;
}
.button-sec a {
    text-decoration: none;
    color: white;
    font-family: sans-serif;
}
.icons .fa {
    font: normal normal normal 14px / 1 FontAwesome;
    font-size: 17px;
    color: gray;
}
.icons {
    padding-bottom: 50px;
    width: 12%;
    padding-left: 46px;
}
.sec-block img {
    width: 100%;
    border-radius: 10px;
}
.sec-block {
    display: inline-block;
    width: 49%;
}
section.section-block {
    margin-top: 8%;
}
.Team-head {
    text-align: center;
}
.team-img img {
    width: 100%;
}

.team-img {
    width: 100%;
}
.team-heading {
    text-align: left;
}
.team-block {
    margin: 0px 8px 0px 0px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16);
    width: 23%;
    display: inline-block;
}
.team-row {
    text-align: center;
}
.team-heading {
    text-align: left;
}
.contact-button {
    background: #f1f1f1;
    width: 100%;
    padding: 13px 0px;
}
.contact-button a {
    color: black;
    text-decoration: none;
}
.team-para {
    padding: 0px 21px;
}
.team-heading h3 {
    font-size: 22px;
    margin: 15px 0px;
}
.team-heading p {
    color: #000000a6;
}
.long-para {
    text-align: left;
}










































