body {
  margin: 0;
}
  .logo{
    text-decoration: none;
    color: #000000d4;
    font-size: 18px;
    font-family: sans-serif;
     width: 49%;
     display: inline-block;
}

  
.single {
    display: inline-block;
    width: 110px;
}
.nav {
    display: inline-block;
}